numpy
pandas
matplotlib
seaborn
scikit-learn
plotly
beautifulsoup4
requests
pdfplumber
ipykernel
playwright
deep-translator
reportlab
selenium
PyMuPDF
nltk
pymorphy3
xgboost
wordcloud
jupyter
torch
torchvision
fastapi
uvicorn
joblib
streamlit